@model ReviewsSite.Models.Product
@{
    ViewBag.Title = "Product Details - " + Model.Name;
}

<h1>@Model.Name</h1>
<hr />
<h4 class="product-description">Product Description: @Model.Description</h4>
<img src="@Model.Image" alt="Photo of @Model.Name" style="width:300px" />
<hr />
<h4>Taco Reviews</h4>
<button onclick="location.href='/Review/Create/@Model.Id'">Add a Review</button>
@foreach (var Review in Model.Reviews)
{
    <p>@Review.Content</p>
    <p>- @Review.Reviewername</p>


    <button onclick="location.href='/Review/Update/@Review.Id'">Edit Review</button>
    <button onclick="location.href='/Review/Delete/@Review.Id'">Delete Review</button>

}
@if (Model.Reviews.Count == 0)
{
    <p>No reviews for this product yet!</p>
}